.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(145, 226, 188);
  height: auto;
  width: 21rem;
  border-radius: 1rem;
  margin: auto;
  padding: 1rem;
  margin-top: 1rem;
  box-shadow: 0.2rem 0.2rem 0.2rem #32917d;
}

.review__items {
  align-items: center;
  justify-content: space-evenly;
  width: 20rem;
  padding: 1rem;
  justify-content: center;
}

.review__items img {
  height: 20rem;
  width: 20rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 4px 15px;
}

.review__items h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.8rem;
  text-align: center;
}

.review__items p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
}

.review__button {
  text-align: center;
  padding: 1rem;
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.review__button button {
  color: rgb(192, 229, 192);
  background: green;
  font-weight: bold;
  border-radius: 2rem;
  padding: 0.5rem;
  border: none;
}

.review__button button:hover {
  background: rgb(192, 229, 192);
  color: green;
  border: 1px solid green;
}

.review__items {
  display: none;
}
